<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnWinform_Demo02.Properties.Settings.DOAN02ConnectionString"
            connectionString="Data Source=LAPTOP-Q7RU1PPE\TRINHMANHQUYNH;Initial Catalog=DOAN02;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>